{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gen</title>
    <style>
        .navbar-brand img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .profile-section {
            display: flex;
            align-items: center;
        }
        .profile-section img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .search-bar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'default-profile.png' %}{% endif %}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'conversation_view' user_id=request.user.id %}">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <div class="search-bar">
                            <form method="GET" action="{% url 'user_list' %}">
                                <input type="text" name="q" class="form-control" placeholder="Search users by username..." value="{{ query }}">
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="profile-section">
                    <a href="{% url 'profile_view' username=request.user.username %}"><img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'default-profile.png' %}{% endif %}" alt="Profile Picture"></a>
                    <a href="{% url 'profile_view' username=request.user.username %}">{{ request.user.username }}</a>
                    
                </div>
            </div>
        </div>
    </nav>


</body>
</html>

{% endblock %} 