{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Cancelled</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div style="text-align: center">
      <h3>Your payment has been cancelled.</h3>
      <p>
        If you believe this is an error, please try again or contact support.
      </p>
    </div>
  </body>
</html>